/*body {
  overflow-y: hidden;
}*/
/* VIDEO START */
video {
    animation: hide 1s linear 6s 1 forwards;
}
@keyframes hide {
    to {
        opacity: 0;
    }
}
.overlay .video-container:before {
  content: '';
  background: none;
}
/* VIDEO END */
.wrap {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(102,102,102,.5);
}
.dynamic-content {
    display:none;
}
@-webkit-keyframes rotate {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
		}
	}	
#spinner {
		-webkit-animation-name:	rotate;
		-webkit-animation-duration: 90s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}	
spin {
		/* iPhone */
		background-image: -webkit-gradient(radial, center center, 0, center center, 150, from(#ffffff), to(#e8fffb));
		/* Desktop */
		background-image: -webkit-radial-gradient(circle, #ffffff, #e8fffb);
		display: table;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		-webkit-text-size-adjust: none;
	}
/*.page-title span {
  display: inline-block;
  padding: .18em .24em;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}*/
.footer > .widget-categories br {
	display: block !important;
}
.portfolio .item-link .item-title {
  font-size: 28px;
}
@media only screen and (max-width: 1229px) {
  .portfolio .item-link .item-title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 479px) {
  .portfolio .item-link .item-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: block !important;
  }
}
@media (min-width: 1960px) {
  .hidden-xs {
    display: none !important;
  }
}
